---
const { project } = Astro.props
---

<a href={project.demo} target='_blank'>
  <button
    class='inline-flex justify-center items-center gap-2 relative rounded-md font-semibold duration-200 h-10 min-w-[2.5rem] text-base bg-gray-400 text-white px-2 hover:bg-gray-500'
  >
    <span class='inline-flex'>Demo</span>
  </button>
</a>
