---
import Avatar from './Avatar.astro'
---

<div class='min-h-screen bg-dark text-white px-[5vw] md:px-0'>
  <div class='flex justify-evenly flex-col lg:flex-row'>
    <div class='mt-[5vh] mx-auto order-1 lg:mx-0 mb-[20vh] lg:mt-[20vh]'>
      <div class='mb-[4vh]'>
        <h1 class='font-bold text-6xl text-center lg:text-start lg:text-9xl'>Hola! 👋</h1>
        <h1 class='font-bold text-6xl text-center lg:text-start lg:text-9xl'>
          Soy <span class='text-[#15c0f0]'>Dylan</span>
        </h1>
      </div>
      <div class='w-[80%] mx-auto lg:w-[45vw] lg:mx-0'>
        <p class='text-3xl font-medium text-center lg:text-start'>
          Apasionado por la <span class='text-[#15c0f0]'>Desarrollador Web</span>. Estoy contantemente
          capacitándome, tomando cursos y aprendiendo nuevas tecnologías con el objetivo de ofrecer mi mejor
          desempeño. puntual, creativo, autodidacta y con muchas ganas de seguir aprendiendo.
        </p>
      </div>
      <div
        class='text-[2.75rem] text-white flex flex-row duration-300 my-[3.5vh] justify-center lg:justify-start'
      >
        <a href='https://github.com/DyEsSuCr' target='_blank'>
          <!-- <FaGithub
            class="mr-[1.75vh] duration-300 hover:text-bluee hover:scale-125
            hover:duration-300"
          /> -->
        </a>
        <a href='https://www.linkedin.com/in/dylansuarez/' target='_blank'>
          <!-- <FaLinkedin
            class="mr-[1.75vh] duration-300 hover:text-bluee hover:scale-125
            hover:duration-300"
          /> -->
        </a>
      </div>
      <a class='flex justify-center lg:inline' href='mailto:2000sajo@gmail.com'>
        <button
          class='inline-flex items-center justify-center rounded-md font-semibold duration-200 h-12 min-w-[3rem] text-lg p-6 bg-bluee text-white hover:bg-[#328de2]'
        >
          Contactame
          <!-- <FaArrowRight class="pl-2" /> -->
        </button>
      </a>
    </div>

    <Avatar />
  </div>
</div>
