---
let date = new Date()
let currentYear = date.getFullYear()
---

<footer class='bg-dark h-fit py-4'>
  <p class='text-center text-white text-base sm:text-xl font-extrabold'>
    &copy; Copyright {currentYear}, Dylan Suarez
  </p>
</footer>
